:root {
  --navbar-bg: #ffffff;
  --text-bg:#000000;
   --bg-card:rgb(247, 252, 255);
   --bg-btn:#ffffff;
   --border-color: rgb(233, 243, 253);
   --text-secondary: #585c63;
   --bg-shadow:rgb(202, 202, 202);
  
}

body.dark{
   --navbar-bg: #0f1729;
   --text-bg:#ffffff;
   --bg-card:#1a2338;
   --bg-btn:#1a2338;
   --border-color: #2a3550;
   --text-secondary: #8b95a8;
   --bg-shadow:#0f1729;
}

.navBar{
  height: 80px;
  border-bottom: 1px solid var(--border-color);
 background-color: var(--navbar-bg);
transition: background-color 0.3s ease;

}

.right_bar {
  width: 45%;
  height: 90%;
  justify-content: space-around;

}
.left_bar{
  width: 350px;
  height: 90%;
}

.moodbtn{
  width: 25%;
  height: 100%;
}

.notifcation{
  width: 45px;
  height: 45px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--bg-btn);
  color: var(--text-bg);
  box-shadow: 0px 5px 5px -5px var(--bg-shadow) ;
  display: flex;
  justify-content: center;
  align-items:  center;
}
.notifcation:hover{
  box-shadow: 0px 7px 9px -5px var(--bg-shadow) ;
}

.not{
  width: 10px;
  height: 10px;
  left: 22px;
  top: 8px;
}


.adminAccount{
  width: 47%;
  height: 75%;
  background-color:var(--bg-card) ;
  border: 1px solid var(--border-color);
  color: var(--text-bg);
  display: flex;
}
.accountName{
  width:40px;
  height: 40px;
  text-align: center;
  
  
}

.imgBrand{
  width: 150px;
  margin-left: 20px;
}
.Brand{
  margin-left: 15px;
  padding-top: 10px;
  color: var(--text-bg);

}

.collapsmal{
  display: none;
}
.logoutbtn{
  border-radius: 10px;
}
.logoutIcon{
  display: inline;
}

.text-sce{
  color: var(--text-secondary);
}

/* Midume screen */
@media (min-width:761px) and (max-width: 1100px){
  .navBar{
  height: 90px;

}

  .right_bar{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
  }
  .left_bar{
  width: 350px;
  margin-left: 50px;
}

  .adminAccount{
    display: none ;
  }
.accountName{
  margin:0px 10px;
}
.logoutbtn{
    width: 45px;
    height: 45px;
}
.imgBrand{
    width: 150px;
  }
  .logOut{
    display: none;
  }
  .moodbtn{

    width: auto;

  }
    .Brand{
    display: none;
  }
}

/* Small screen */
@media  (min-width: 490px) and (max-width: 760px){

.left_bar{
   width: 350px;
  height: 90%;
}


  .navBar{
    width: 100%;
    right: 0;
    padding: 0 10px;
  }

  .Brand{
    display: none;
  }

  .adminAccount{
    display: none ;
  }

  .right_bar{
    width: auto;
    gap: 10px;
  }

  .moodbtn{
    width: auto;

  }

  .notifcation,.logoutbtn{
    width: 45px;
    height: 45px;
  }

  .imgBrand{
    width: 150px;
    margin-left: 20;
  }
  .logOut{
    display: none;
  }
.collapsmal{
  display: block;
}
}